@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");
@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

html {
  scroll-behavior: smooth;
}

/* reset & common styles */

body,
ul,
h1,
h2,
h3,
p,
button,
a,
div {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
  font-family: "Inter";
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
}

body {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  background: #7f5af0;
}

button {
  color: #0d0d0d;
  padding: 10px 30px;
  font-size: 1em;
  background: transparent;
  border-radius: 50px;
  border: 1px solid #0d0d0d;
  margin: 40px auto 0;
  cursor: pointer;
  opacity: 0.7;
}

.logo {
  cursor: pointer;
}

.container h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container li {
  padding: 10px;
  cursor: pointer;
}

#scrollBar {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

/* header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  display: flex;
  padding: 40px;
  align-items: center;
}

header .title {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 0.6em;
}

header h1 {
  color: #fff;
  font-weight: 600;
  padding-bottom: 10px;
}

header .pizza-svg,
.order .success-svg {
  width: 80px;
  overflow: visible;
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.back {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 56px 0;
}

.back p {
  margin-left: 12px;
}

/* pages */

.home {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(960px, 100vw, 100vw);
}

.home h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.home.container,
.order.container {
  text-align: center;
  /* max-width: 800px; */
}

.home button {
  color: #0d0d0d;
  padding: 15px 30px;
  font-size: 1.6em;
  border: 3px solid #0d0d0d;
  margin: 30px 20px;
}

.order p {
  margin: 20px auto;
}

/* modal */

.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  align-items: center;
  width: 320px;
  height: 320px;
  background: #fff;
}

.modal p {
  color: #67568c;
}

.modal button {
  background: #67568c;
  color: #fff;
}

.modal a button {
  color: #67568c;
  background: transparent;
  border: 1px solid #67568c;
}

.loader,
.loader_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 128px;
  height: 124px;
}

.loader_container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.loader span {
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  background-color: #fff;
}

.order h2 {
  margin-top: 32px;
}

.next {
  position: relative;
  overflow: hidden;
  width: 112px;
  height: 42px;
  margin-top: 24px;
}

.next span {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7f5af0;
  font-size: 24px;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}

.next span:first-child {
  background: #fff;
}

.next span:last-child {
  z-index: 3;
  -webkit-backdrop-filter: grayscale(1);
  backdrop-filter: grayscale(1);
}

.next button {
  border-radius: 0;
  margin-top: 0;
  border: 1px solid #fff;
  color: #fff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  width: 100vw;
  height: 100vh;
  /* background: #fbdd74; */
  background: #fde24f;
}

.hero h2 {
  font-size: 72px;
  font-weight: 800;
  text-shadow: -5px 5px 8px rgba(0, 0, 0, 0.2);
  color: #000;
}

.hero p {
  color: #1b2d45;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content h2 {
  text-align: left !important;
}

.cta button {
  margin-left: -12px;
  color: #000;
  background: #e16162;
  overflow: hidden;
  position: relative;
  transition: all 0.1s ease-in;
}

.cta button:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: "";
  background: #f9bc60;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  left: -140px;
  transition: all 0.3s ease-in;
}

/* .cta button:hover {
  color: #fff;
} */

.cta button:hover::before {
  width: 480px;
  height: 480px;
  top: -140px;
  left: 0;
}

.cta div {
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cta div p {
  margin-right: 8px;
  position: relative;
}

.cta div p::before {
  position: absolute;
  bottom: 0;
  left: -200px;
  width: 100%;
  height: 2px;
  display: block;
  content: "";
  background: #7f5af0;
  transition: all 0.3s ease-in-out;
}

.cta div:hover p {
  color: #7f5af0;
}

.cta div:hover p::before {
  left: 0;
}

.about {
  width: 100vw;
  padding: 72px 0;
  background: #2cb67d;
}

.text_content {
  display: flex;
  text-align: left;
  position: relative;
  padding: 56px 24px;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.introduction {
  text-align: center;
}

.introduction h1 {
  font-family: "Encode Sans";
  font-size: 48px;
  margin-bottom: 16px;
}
.text_content h2 {
  width: 30%;
}

.text_content p {
  width: 80%;
}

.feature_card__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.landing_conclusion h2 {
  position: absolute;
  left: 16px;
  font-size: 4em;
  font-style: italic;
  font-family: "BioRhyme";
}

.feature_card__container ul {
  width: 50%;
  height: 100%;
  padding: 24px 0;
  overflow: hidden;
}

.feature_card__contents p,
h3 {
  padding: 16px;
}

.feature_card__contents {
  text-align: right;
  width: fit-content;
  height: 100%;
  background: #fff;
  margin: 24px 0;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.feature_card__contents::before {
  position: absolute;
  content: "";
  background: #fde24f;
  width: 100%;
  height: 8px;
  top: 0;
  left: -100%;
  transition: all 0.3s ease-in;
}

.feature_card__contents:hover {
  margin-bottom: 32px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.feature_card__contents:hover::before {
  left: 0;
}

.feature_card__image {
  width: 50%;
  height: 100vh;
  max-width: 520px;
  margin: 16px;
}

.feature_card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.landing_conclusion {
  width: 100vw;
  position: relative;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.base,
.order {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.base h3,
li {
  font-family: "Sora";
  color: #fff;
}

.base h3 {
  font-size: 2em;
  font-weight: 600;
}

.base ul {
  width: 212px;
}

.base li {
  cursor: pointer;
  font-weight: 200;
  padding: 16px 0;
  margin-left: 40px;
}

.base li span.active::before {
  content: ">";
  top: -2px;
  margin-right: 8px;
  display: inline-block;
}

.order h2,
.order p,
.order li {
  font-family: "Sora";
  color: #fff;
}

.order button {
  color: #fff;
  border: 1px solid #fff;
}